/* Tag Container */
.tag-container span {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.tag-label {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.35rem;
}

.tags {
    list-style: none;
    margin-top: 0.45rem;
    border-radius: var(--font-s);
    background-color: var(--bg-dark);
    padding: 0.35rem 0 0.05rem 0.75rem;
}

.tags li {
    padding: var(--font-xs);
    margin: 0.05rem 0.75rem 0.00rem 0;
}

.tags li:hover {
    /* width: fit-content; */
    border-radius: var(--font-xs);
    background-color: var(--bg);
}