@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root,
:root.dark-mode.light-mode {
  --primary-bg: hsl(0, 0%, 90%);
  --secondary-bg: hsl(220, 9%, 84%);
  --accent: hsl(6, 100%, 63%);
  --accent-hover: hsl(6, 74%, 55%);
  --text: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 33%);
  --gray-hover: hsl(0, 0%, 73%);
  --soft-indigo: hsl(249, 79%, 67%);
  --blue: hsl(207, 92%, 46%);
  --fresh-teal: hsl(167, 100%, 36%);
}

:root.dark-mode {
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(220, 9%, 16%);
  --accent: hsl(6, 100%, 63%);
  --accent-hover: hsl(6, 74%, 55%);
  --text: hsl(0, 0%, 95%);
  --text-light: hsl(0, 0%, 67%);
  --gray-hover: hsl(0, 0%, 33%);
  --soft-indigo: hsl(249, 79%, 67%);
  --blue: hsl(207, 92%, 46%);
  --fresh-teal: hsl(167, 100%, 36%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 0.625rem;
}

.todo-app {
  width: 100%;
  max-width: 33.75rem;
  background-color: var(--primary-bg);
  margin: 6.25rem auto 1.25rem;
  padding: 2.5rem 1.875rem 4.375rem;
  border-radius: 0.625rem;
}

.todo-app h2 {
  color: var(--text);
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.todo-app h2 img {
  width: 1.875rem;
  margin-left: 0.625rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.material-symbols-outlined {
  cursor: pointer;
  font-size: 2rem;
  background-color: var(--primary-bg);
  color: var(--text);
}

.row {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-bg);
  border-radius: 1.875rem;
  padding-left: 1.25rem;
  margin-bottom: 1.5625rem;
}

.list-type {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.list-type .tag {
  background-color: var(--secondary-bg);
  color: var(--text);
  border: 2px solid var(--secondary-bg);
  border-radius: 1.875rem;
  padding: 0.1rem 1.25rem;
  margin-bottom: 1.5625rem;
  transition: all 0.3s ease;
}

.list-type .tag:hover {
  color: var(--accent);
  border-color: var(--accent);
}

.list-type .tag-filter {
  border-color: var(--accent);
  background-color: var(--accent);
  color: var(--primary-bg);
}

.list-type .tag-filter:hover {
  border-color: var(--accent-hover);
  background-color: var(--accent);
  color: var(--primary-bg);
}

.list-type .add-tag {
  background-color: var(--secondary-bg);
  color: var(--text);
  border: 2px solid var(--secondary-bg);
  border-radius: 1.875rem;
  padding: 0.1rem 1.25rem;
  margin-bottom: 1.5625rem;
  transition: all 0.3s ease;
}

.list-type .add-tag:hover {
  color: var(--accent);
  border-color: var(--accent);
}

.list-type .add-tag-filter {
  border-color: var(--accent);
  background-color: var(--accent);
  color: var(--primary-bg);
}

.list-type .add-tag-filter:hover {
  border-color: var(--accent-hover);
  background-color: var(--accent);
  color: var(--primary-bg);
}

hr {
  border: none;
  width: 90%;
  height: 1px;
  background-color: var(--gray-hover);
  margin: 0 auto 1.5625rem auto;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.625rem;
  color: var(--text);
}

button {
  border: none;
  outline: none;
  padding: 1rem  3.125rem;
  background: var(--accent);
  color: var(--primary-bg);
  font: 1rem;
  cursor: pointer;
  border-radius: 2.5rem;
}

button:hover {
  background: var(--accent-hover);
  transition: 0.3s ease;
}

ul li {
  color: var(--text);
  list-style: none;
  font-size: 1.0625rem;
  padding: 0.75rem 0.5rem 0.75rem 3.125rem;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 0.75rem;
  left: 0.5rem;
}

ul li.checked {
  color: var(--text-light);
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 0.3125rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.375rem;
  color: var(--text-light);
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background-color: var(--gray-hover);
}