/* Recently Done Page Styles */
.page-recently-done {
    width: 80%;
    height: 19rem;
    overflow-y: auto;
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: column;
}

.recently-done-container {
    background-color: var(--primary-bg);
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
}

.recently-done-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* All Lists Page Styles */
.page-all-lists {
    width: 80%;
    height: 19rem;
    overflow-y: auto;
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: column;
}

.all-lists-container {
    background-color: var(--primary-bg);
    border-radius: 0.5rem;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
}

.all-lists-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Inbox Page Styles */
.page-inbox {
    width: 80%;
    height: 19rem;
    overflow-y: auto;
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: column;
}

.inbox-container {
    background-color: var(--primary-bg);
    padding: 1rem;
    height: 100%;
    width: 100%;
    max-height: 25rem;
    overflow-y: auto;
    border-radius: 0.5rem;
}

.inbox-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Shared List Page Styles */
.page-shared-List {
    width: 80%;
    height: 19rem;
    overflow-y: auto;
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: column;
}

.sharedListHeader {
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.searchSharedList {
    grid-column: 1/2;
    grid-row: 1;

}

.searchSharedList .friends {
   all: unset;
}

.createSharedList {
    justify-self: start;
    align-self: center;
}

.createSharedList span {
    width: 10rem;
    height: 7rem;
    border-radius: 1rem;
    background-color: var(--secondary-bg);
}

.createdSharedList input {
    all: unset;
    width: 80%;
    border-radius: 0.5rem;
    background-color: var(--primary-bg);
    color: var(--text);
}



.createSharedList button {
    all: unset;
}

/* Card Styling */
.list-card {
    background-color: var(--secondary-bg);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.list-card h3 {
    color: var(--accent);
    margin-top: 0;
}

.list-card h2 {
    color: var(--text);
    font-size: 1rem;
    margin: 1rem 0 0.5rem 0;
}

.list-card p2 {
    color: var(--text-light);
    display: block;
    margin-bottom: 1rem;
}

.list-card ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    max-height: 15rem;
    overflow-y: auto;
}

.list-card li {
    padding: 0.5rem;
    color: var(--text);
    border-bottom: 1px solid var(--gray-hover);
}

/* Page Setting Styles */
.page-setting {
    display: flex;
    flex-direction: column;
}

.page-setting h3 {
    color: var(--text);
    padding: 1rem 0;
}

/* Scrollbar Styles */
.recently-done-container::-webkit-scrollbar,
.all-lists-container::-webkit-scrollbar,
.inbox-container::-webkit-scrollbar {
    width: calc(1rem - 10px);
}

.recently-done-container::-webkit-scrollbar-track,
.all-lists-container::-webkit-scrollbar-track,
.inbox-container::-webkit-scrollbar-track {
    background: var(--primary-bg);
    border-radius: 5px;
}

.recently-done-container::-webkit-scrollbar-thumb,
.all-lists-container::-webkit-scrollbar-thumb,
.inbox-container::-webkit-scrollbar-thumb {
    background: var(--gray-hover);
    border-radius: 5px;
}