@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root,
:root.dark-mode.light-mode {
  --primary-bg: hsl(0, 0%, 90%);
  --secondary-bg: hsl(220, 9%, 64%);
  --text: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 33%);
  --gray-hover: hsl(0, 0%, 73%);
}

:root.dark-mode {
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(220, 9%, 36%);
  --text: hsl(0, 0%, 95%);
  --text-light: hsl(0, 0%, 67%);
  --gray-hover: hsl(0, 0%, 33%);
}

:root.custom-theme.red {
  --accent: hsl(0, 100%, 50%);
  --accent-hover: hsl(0, 100%, 40%);
  --text: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 33%);
  --gray-hover: hsl(0, 0%, 73%);
  --primary-bg: hsl(0, 0%, 90%);
  --secondary-bg: hsl(220, 9%, 84%);
}

:root.custom-theme.green {
  --accent: hsl(120, 100%, 50%);
  --accent-hover: hsl(120, 100%, 40%);
  --text: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 33%);
  --gray-hover: hsl(0, 0%, 73%);
  --primary-bg: hsl(0, 0%, 90%);
  --secondary-bg: hsl(220, 9%, 84%);
}

:root.custom-theme.blue {
  --accent: hsl(210, 100%, 50%);
  --accent-hover: hsl(210, 100%, 40%);
  --text: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 33%);
  --gray-hover: hsl(0, 0%, 73%);
  --primary-bg: hsl(0, 0%, 90%);
  --secondary-bg: hsl(220, 9%, 84%);
}

:root.custom-theme.gold {
  --accent: hsl(46, 65%, 52%);
  --accent-hover: hsl(50, 100%, 55%);
  --text: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 33%);
  --gray-hover: hsl(0, 0%, 73%);
  --primary-bg: hsl(0, 0%, 90%);
  --secondary-bg: hsl(220, 9%, 84%);
}

:root.custom-theme.purple {
  --accent: hsl(280, 100%, 50%);
  --accent-hover: hsl(280, 100%, 40%);
  --text: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 33%);
  --gray-hover: hsl(0, 0%, 73%);
  --primary-bg: hsl(0, 0%, 90%);
  --secondary-bg: hsl(220, 9%, 84%);
}

:root.custom-theme.black {
  --accent: hsl(0, 0%, 20%);
  --accent-hover: hsl(0, 0%, 10%);
  --text: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 33%);
  --gray-hover: hsl(0, 0%, 73%);
  --primary-bg: hsl(0, 0%, 90%);
  --secondary-bg: hsl(220, 9%, 84%);
}

:root.custom-theme.orange {
  --accent: hsl(30, 100%, 50%);
  --accent-hover: hsl(30, 100%, 60%);
  --text: hsl(0, 0%, 5%);
  --text-light: hsl(0, 0%, 33%);
  --gray-hover: hsl(0, 0%, 73%);
  --primary-bg: hsl(0, 0%, 90%);
  --secondary-bg: hsl(220, 9%, 84%);
}

:root.custom-theme.red.dark-mode {
  --accent: hsl(0, 100%, 50%);
  --accent-hover: hsl(0, 100%, 40%);
  --text: hsl(0, 0%, 95%);
  --text-light: hsl(0, 0%, 67%);
  --gray-hover: hsl(0, 0%, 33%);
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(220, 9%, 16%);
}

:root.custom-theme.green.dark-mode {
  --accent: hsl(120, 100%, 50%);
  --accent-hover: hsl(120, 100%, 40%);
  --text: hsl(0, 0%, 95%);
  --text-light: hsl(0, 0%, 67%);
  --gray-hover: hsl(0, 0%, 33%);
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(220, 9%, 16%);
}

:root.custom-theme.blue.dark-mode {
  --accent: hsl(210, 100%, 50%);
  --accent-hover: hsl(210, 100%, 40%);
  --text: hsl(0, 0%, 95%);
  --text-light: hsl(0, 0%, 67%);
  --gray-hover: hsl(0, 0%, 33%);
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(220, 9%, 16%);
}

:root.custom-theme.gold.dark-mode {
  --accent: hsl(51, 100%, 50%);
  --accent-hover: hsl(39, 100%, 40%);
  --text: hsl(0, 0%, 95%);
  --text-light: hsl(0, 0%, 67%);
  --gray-hover: hsl(0, 0%, 33%);
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(220, 9%, 16%);
}

:root.custom-theme.purple.dark-mode {
  --accent: hsl(280, 100%, 50%);
  --accent-hover: hsl(280, 100%, 40%);
  --text: hsl(0, 0%, 95%);
  --text-light: hsl(0, 0%, 67%);
  --gray-hover: hsl(0, 0%, 33%);
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(220, 9%, 16%);
}

:root.custom-theme.black.dark-mode {
  --accent: hsl(0, 0%, 80%);
  --accent-hover: hsl(0, 0%, 70%);
  --text: hsl(0, 0%, 95%);
  --text-light: hsl(0, 0%, 67%);
  --gray-hover: hsl(0, 0%, 33%);
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(220, 9%, 16%);
}

:root.custom-theme.orange.dark-mode {
  --accent: hsl(30, 100%, 50%);
  --accent-hover: hsl(30, 100%, 60%);
  --text: hsl(0, 0%, 95%);
  --text-light: hsl(0, 0%, 67%);
  --gray-hover: hsl(0, 0%, 33%);
  --primary-bg: hsl(0, 0%, 0%);
  --secondary-bg: hsl(220, 9%, 16%);
}

.theme-btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  font-weight: 500;
  color: white;
}

.theme-btn:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.theme-btn[data-theme="red"] {
  color: var(--text);
  background-color: var(--secondary-bg);
  border-bottom:4px solid hsl(0, 100%, 50%);
}

.theme-btn[data-theme="green"] {
  color: var(--text);
  background-color: var(--secondary-bg);
  border-bottom:4px solid hsl(120, 100%, 50%);
}

.theme-btn[data-theme="blue"] {
  color: var(--text);
  background-color: var(--secondary-bg);
  border-bottom:4px solid hsl(210, 100%, 50%);
}

.theme-btn[data-theme="gold"] {
  color: var(--text);
  background-color: var(--secondary-bg);
  border-bottom:4px solid hsl(46, 65%, 52%);
}

.theme-btn[data-theme="purple"] {
  color: var(--text);
  background-color: var(--secondary-bg);
  border-bottom:4px solid hsl(280, 100%, 50%);
}

.theme-btn[data-theme="black"] {
  color: var(--text);
  background-color: var(--secondary-bg);
  border-bottom:4px solid hsl(0, 0%, 10%);
}

.theme-btn[data-theme="orange"] {
  color: var(--text);
  background-color: var(--secondary-bg);
  border-bottom:4px solid hsl(30, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-y: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--primary-bg)
}

.page-home {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1.5rem 0;
}

.page-home .list-type {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  max-height: 5rem;
}

.page-home .list-type .tag {
  background-color: var(--secondary-bg);
  color: var(--text);
  border: 2px solid var(--secondary-bg);
  border-radius: 1.875rem;
  padding: 0.1rem 1.25rem;
  margin-bottom: 1.5625rem;
  transition: all 0.3s ease;
}

.page-home .list-type .tag:hover {
  color: var(--accent);
  border-color: var(--accent);
}

.page-home .list-type .tag-filter {
  border-color: var(--accent-hover);
  background-color: var(--accent-hover);
  color: var(--primary-bg);
}

.page-home .list-type .tag-filter:hover {
  border-color: var(--accent);
  background-color: var(--accent-hover);
  color: var(--primary-bg);
}

.page-home .list-type .add-tag {
  background-color: var(--secondary-bg);
  color: var(--text);
  border: 2px solid var(--secondary-bg);
  border-radius: 1.875rem;
  padding: 0.1rem 1.25rem;
  margin-bottom: 1.5625rem;
  transition: all 0.3s ease;
}

.page-home .list-type .add-tag:hover {
  color: var(--accent);
  border-color: var(--accent);
}

.page-home .list-type .add-tag-filter {
  border-color: var(--accent);
  background-color: var(--accent);
  color: var(--primary-bg);
}

.page-home .list-type .add-tag-filter:hover {
  border-color: var(--accent-hover);
  background-color: var(--accent);
  color: var(--primary-bg);
}

.page-home .row {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-bg);
  border-radius: 1.875rem;
  padding-left: 1.25rem;
  margin-bottom: 1.5625rem;
  max-height: 3.4rem ;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 220px;
  border-right: 1px solid var(--gray-hover);
  margin-right: 1rem;
  padding-top: 3.5rem;
  padding-left: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  z-index: 1;
  width: 100%;
  padding: 0.5rem 0;
  list-style: none;
}

.menu-list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: var(--text);
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.header {
  width: 100%;
  padding: 1.875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header #home {
  cursor: pointer;
}


h2 {
  color: var(--text);
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

h2 img {
  width: 1.875rem;
  margin-left: 0rem;
}

.material-symbols-outlined {
  cursor: pointer;
  font-size: 2rem;
  background-color: var(--primary-bg);
  color: var(--text);
}

.todo-app {
  width: 100%;
  min-height: 80vh;
  background-color: var(--primary-bg);
  /* padding: 2.5rem 1.875rem 2.375rem; */
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--gray-hover);
}

hr {
  border: none;
  width: 90%;
  height: 1px;
  background-color: var(--gray-hover);
  margin: 0 auto 1rem;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.625rem;
  color: var(--text);
}

button {
  border: none;
  outline: none;
  padding: 1rem 3.125rem;
  background: var(--accent);
  color: var(--primary-bg);
  font: 1rem;
  cursor: pointer;
  border-radius: 2.5rem;
}

button:hover {
  background: var(--accent-hover);
  transition: 0.3s ease;
}

ul {

  list-style: none;
}

#list-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 19rem;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-hover) var(--primary-bg);
}

#list-container li {
  color: var(--text);
  list-style: none;
  font-size: 1.0625rem;
  margin-top: 0.35rem;
  padding: 0.95rem 0.5rem 0.75rem 3.125rem;
  user-select: none;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
}

#list-container::-webkit-scrollbar {
  width: calc(1rem - 10px);
}

#list-container::-webkit-scrollbar-track {
  background: var(--primary-bg);
  border-radius: 5px;
}

#list-container::-webkit-scrollbar-thumb {
  background: var(--gray-hover);
  border-radius: 5px;
}

#list-container li:not(#no-task)::before {
  content: '';
  position: absolute;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-image: url(../../images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 0.75rem;
  left: 0.5rem;
}

#list-container li:not(#no-task).checked {
  color: var(--text-light);
  text-decoration: line-through;
}

#list-container li:not(#no-task).checked::before {
  background-image: url(../../images/checked.png);
}

#list-container li span {
  position: absolute;
  right: 0;
  top: 0.3125rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.375rem;
  color: var(--text-light);
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
}

#list-container li span:hover {
  background-color: var(--gray-hover);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 20%;
  border-right: 1px solid var(--gray-hover);
  margin-right: 1rem;
  padding-top: 3.5rem;
  padding-left: 1rem;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  z-index: 1;
  width: 20%;
}

.menu-list li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 10%;
  color: var(--text);
  /* gap: 0.5rem; */
}

.menu-list li:hover {
  color: var(--accent);
  cursor: pointer;
}

.menu #tag-delete {
  padding-top: 4rem;
  align-self: start;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--text-light);
  font-size: 0.875rem;
  border-top: 1px solid var(--gray-hover);
}

#page-setting {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 19rem;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-hover) var(--primary-bg);
}

#page-setting::-webkit-scrollbar {
  width: calc(1rem - 10px);
}

#page-setting::-webkit-scrollbar-track {
  background: var(--primary-bg);
  border-radius: 5px;
}

#page-setting::-webkit-scrollbar-thumb {
  background: var(--gray-hover);
  border-radius: 5px;
}

#page-setting-btn {
  background-color: var(--secondary-bg); 
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  font-weight: 500;
  color: var(--text);
  border-bottom: 4px solid var(--accent);
}

.font-settings {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 1rem;
}

.data-settings {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 1rem;
}

#tag-delete {
  transition: all 0.2s ease;
  color: var(--text);
}

#tag-delete.drag-over {
  color: var(--accent);
  transform: scale(1.2);
}

.tag.dragging {
  opacity: 0.5;
}

.addTag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.addTag Label {
  color: var(--text);
}